:root{
    --cell-size: 26px;
    --fonnt-size: 16px;
    --header-width: 590px;
    font-size: 16px;
}
@media only screen and (max-width: 850px), (max-height: 680px) {
    :root{
        --cell-size: 24px;
        --header-width: 560px;
        font-size: 14px;
    }
}
@media only screen and (max-width: 650px), (max-height: 650px) {
    :root{
        --cell-size: 20px;
        --header-width: 480px;
        font-size: 12px;
    }
}
@media only screen and (max-width: 550px), (max-height: 580px)  {
    :root{
        --cell-size: 18px;
        --header-width: 400px;
        font-size: 11px;
    }
}
@media only screen and (max-width: 550px), (max-height: 520px)  {
    :root{
        --cell-size: 16px;
        font-size: 10px;
    }
}

*{
    transition: all .1s;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background: #000;
    background: #666;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--header-width);
    margin: auto;
}

h1{
    font-size: 2.4rem;
    margin: 0 0 -8px;
}

p{
    margin: 0;
}

.game__score-value{
    font-size: 3rem;
    font-weight: bold;
    width: 40px;
}

.game-board{
    margin: auto;
}

.board-cell{
    background: #999;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 2px;
}

.snake{
    background: #fff;
}
.apple{
    background: url(img/004-fruit.png) center center no-repeat, #999;
    background-size:85%;
}
.bomb{
    background: url(img/012-risk-skull.png)center center no-repeat, #999;
    background-size:85%;
}

.game__start-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em 2em;
    background: #0000cc;
    font-size: 1.4rem;
    font-weight: bold;
    outline: none;
    border: none;
    opacity: .85;
    border-radius: 2px;
    cursor: pointer;
    line-height: 2.6rem;
    transition: all .2s;
    border: 1px solid black;
}
.game__start-button:hover{
    top: 49.8%;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
}
.game__start-button:active{
    top: 50%;
    box-shadow: none;
}

.game-over__board{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em 2em;
    background: #0000cc;
    font-size: 1.4rem;
    font-weight: bold;
    outline: none;
    border: none;
    opacity: .85;
    border-radius: 2px;
    cursor: pointer;
    line-height: 2.6rem;
    transition: all .2s;
}

.game-over__header h3{
    padding-top: .5em;
    font-size: 2.4rem;
    text-align: center;
}

.game-over__header div{
    text-align: center;
}

.game-over__score{
    font-size: 2.4rem;
}

.game-over__results{
    padding-top: .8em;
    text-align: center;
}
.game-over__results h3{
    text-align: left;
}

.game-over__table{
    font-size: 1rem;
    text-align: center;
}

.game-over__table td{
    line-height: 1.8em;
    padding: 0 1em 0 1em ;
}

.game-over__start-button{
    background:#0000cc;
    padding: 1em 2em;
    font-size: 1.2rem;
    margin: 1em 0;
    border-radius: 2px;
    border: 2px solid black;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
.game-over__start-button:hover{
    top: 49.8%;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
}
.game-over__start-button:active{
    top: 50%;
    box-shadow: none;
}
