body{
    background: #000;
}

section{
    max-width: 960px;
    margin: auto;
    font-family: Verdana, Tahoma, sans-serif;
    background: #666;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5% 3%;
}

h1{
    font-size: 2.4rem;
}

.game__score-value{
    font-size: 2.4rem;
    font-weight: bold;
}

.game-board{
    margin: auto;
    padding-bottom: 4%;
}

.board-cell{
    background: #999;
    width: 1.6vw;
    height: 1.6VW;
}

.snake{
    background: #fff;
}
.apple{
    background: url(img/001-apple-4.png) center center no-repeat, #999;
    background-size:80% 80%;
}
.bomb{
    background: url(img/012-risk-skull.png)center center no-repeat, #999;
    background-size:80% 80%;
}

td{
    border-radius: 2px;
}