:root{
    --cell-size: 26px;
    --fonnt-size: 16px;
    --header-width: 590px;
    font-size: 16px;
}
@media only screen and (max-width: 850px), (max-height: 680px) {
    :root{
        --cell-size: 24px;
        --header-width: 560px;
        font-size: 14px;
    }
}
@media only screen and (max-width: 650px), (max-height: 650px) {
    :root{
        --cell-size: 20px;
        --header-width: 480px;
    }
}
@media only screen and (max-width: 550px), (max-height: 580px)  {
    :root{
        --cell-size: 18px;
        --header-width: 400px;
    }
}
@media only screen and (max-width: 550px), (max-height: 520px)  {
    :root{
        --cell-size: 16px;
    }
}

*{
    transition: all .1s;
    font-family: Verdana, Tahoma, sans-serif;
}

body{
    background: #000;
    background: #666;

}

section{
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--header-width);
    margin: 1.6% auto 0;
}

h1{
    font-size: 2.4rem;
    margin: 3% 0 -6px;
}

p{
    margin-bottom: 0;
}

.game__score-value{
    font-size: 3rem;
    font-weight: bold;
    width: 40px;
}

.game-board{
    margin: auto;
}

.board-cell{
    background: #999;
    width: var(--cell-size);
    height: var(--cell-size);
}

.game__score{
    margin-bottom: 0px;
}

.snake{
    background: #fff;
}
.apple{
    background: url(img/004-fruit.png) center center no-repeat, #999;
    background-size:85%;
}
.bomb{
    background: url(img/012-risk-skull.png)center center no-repeat, #999;
    background-size:85%;
}

td{
    border-radius: 2px;
}

.game__start-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.4% 3%;
    background: blue;
    font-size: 1.4rem;
    font-weight: bold;
    outline: none;
    border: none;
    opacity: .8;
    border-radius: 4px;
    cursor: pointer;
    line-height: 2.6rem;
    transition: all .2s;
}

.game__start-button:hover{
    top: 49.8%;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
}
.game__start-button:active{
    top: 50%;
    box-shadow: none;
}

